@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 67% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 67% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 67% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 181 49% 43%;
    --primary-foreground: 0 0% 10%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 14.3% 9.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 210 25% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 181 49% 43%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1.5rem;
  }

  .dark {
    --background: 210 15% 10%;
    --foreground: 0 0% 98%;
    --card: 210 15% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 210 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 181 49% 43%;
    --primary-foreground: 0 0% 10%;
    --secondary: 210 15% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 15% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 210 25% 55%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 20%;
    --input: 210 15% 20%;
    --ring: 181 49% 53%;
    --radius: 1.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
